{% if is_pjax %}
    {% extends "pjax_layout.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}


{% block body %}
    <article class="links">
        <h2>About me</h2>
        <section>
            <p class="about-me">
		我是 PockyNya<br>
		毕业于重庆邮电大学生物信息专业，爱好生物、化学以及信息技术<br>
		重庆萝莉俱乐部有限公司 CTO<br>
                欢迎大家发邮件申请友情链接喵<br><br>
                Email: <a href="mailto:pocky@loli.clib">pocky@loli.club</a><br>
                Github: <a href="https://github.com/PockyNya">https://github.com/PockyNya</a><br>
		QQ: 312641104<br>
            </p>
        </section>

        <h2>My Friends</h2>
        <section>
            <ul>
                {% for link in links %}
                    <li><a target="_blank" href="http://{{ link.url }}">{{ link.name }}</a></li>
                {% else %}
                    <p>I am alone ..</p>
                {% endfor %}
            </ul>
        </section>
        <section><div id="disqus_thread"></div></section>
    </article>

    <script>
        var disqus_shortname = '{{ settings.disqus_shortname }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock %}
